
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />
<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">

		<div class="row" style="margin-bottom: -70px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<span>User Account</span>
				</h2>
			</div>
			<div class="col-xs-4">
				<img alt="logo" src="/image/logo.png" class="img-responsive" />
			</div>
		</div>
		<hr
			style="position: absolute; width: 85%; height: 6px; background-color: #333; z-index: -1; margin-top: -75px;" />
<!-- 		<img alt="bg" src="/image/wood.png" class="img-responsive"
			style="margin-top: -75px;" />
 -->
		<div class="row" style="margin-top: 120px;">
			<div class="col-xs-9 col-xs-offset-3">

				<ul class="nav nav-tabs">
					<li th:classAppend="${classActiveNewAccount}? 'active'"><a
						href="#tab-1" data-toggle="tab"><span style="color: red;">Create
								new account</span></a></li>
					<li th:classAppend="${classActiveLogin}? 'active'"><a
						href="#tab-2" data-toggle="tab"><span style="color: red;">Login</span></a></li>
					<li th:classAppend="${classActiveForgetPassword}? 'active'"><a
						href="#tab-3" data-toggle="tab"><span style="color: red;">Forget
								password</span></a></li>
				</ul>

				<!-- Tab panels -->
				<div class="tab-content">

<!-- create new user -->
					<div class="tab-pane fade" id="tab-1" th:classAppend="${classActiveNewAccount}? 'in active'" >
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									
									<div class="alert alert-info" th:if="${emailSent}">
										An Email has been sent to the email address you just registered.
									</div>
									
									<form th:action="@{/createAccount}" method="post">
										<div class="form-group">
											<label for="newUsername">*Username</label> <span th:if="${userAlreadyExist}" style="color: red;">User
												already exists. Please try with another email.</span> <input
												required="required" type="text" class="form-control"
												id="newUsername" name="username" />
											<p style="color: #828282">Enter your username here.</p>
										</div>
										<div class="form-group">
											<label for="email">*Email Address</label> <span th:if="${emailAlreadyExist}" style="color: red;">Email
												already exists. Please choose different email Address.</span>
											<input
												required="required" type="text" class="form-control"
												id="email" name="email" />
											<p style="color: #828282">A valid email address. All
												email will be sent to this address. You will receive new
												password and certain notifications on this email address.</p>
										</div>
										<button type="submit" class="btn btn-primary">Create
											new account</button>
									</form>
								</div>
							</div>
						</div>
					</div>

<!-- Log in -->

					<div class="tab-pane fade" id="tab-2" th:classAppend="${classActiveLogin}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									
								<div class="alert alert-danger" th:if="${param.error != null}">Incorrect credential</div>
									<form th:action="@{/login}" method="post">
										<div class="form-group">
											<label for="newUsername">*Username</label> <input
												required="required" type="text" class="form-control"
												id="newUsername" name="username" />
											<p style="color: #828282">Enter your username here.</p>
										</div>
										<div class="form-group">
											<label for="password">*Password</label> <input
												required="required" type="password" class="form-control"
												id="password" name="password" />
											<p style="color: #828282">Enter the password that
												accompanies your email.</p>
										</div>
										<button type="submit" class="btn btn-primary">Log in</button>
									</form>
								</div>
							</div>
						</div>
					</div>

<!-- Forget Password -->

					<div class="tab-pane fade" id="tab-3" th:classAppend="${classActiveForgetPassword}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									
									<div th:if="${emailNotFound}" class="alert alert-danger" >Please enter a valid email address.</div>
									<div th:if="${noUserFound}" class="alert alert-danger">This email is not registered with us.</div>
									<div th:if="${EmailSent}" class="alert alert-success" >An email has been sent with password reset link.</div>
									
									<form th:action="@{/forgetPassword}" method="post">
										<div class="form-group">
											<label for="recoverEmail">*Email</label> <input
												required="required" type="text" class="form-control"
												id="recoverEmail" name="email" />
											<p style="color: #828282">Enter your registered email
												address.</p>
										</div>
										<button type="submit" class="btn btn-primary">Reset
											Password</button>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

	<!-- /end of container -->



	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<div th:replace="common/header :: body-bottom-scripts" />



</body>
</html>
