
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />
<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">

		<div class="row" style="margin-bottom: -70px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<span>User Account</span>
				</h2>
			</div>
			<div class="col-xs-4">
				<img alt="logo" src="/image/logo.png" class="img-responsive" />
			</div>
		</div>
		<hr/>
		
		<div class="row" style="margin-top: 10px;">
			<div class="col-xs-12">
				<div class="alert alert-success">
					<h3><i class="fa fa-check" aria-hidden="true" style="color: limegreen;"></i>
						Thank you, your order has been placed.</h3>
						<h4><i class="fa fa-truck" aria-hidden="true"></i>
						The estimated delivery date is <span th:text="${estimatedDeliveryDate}"></span></h4>
				</div>
				<h3>List of items</h3>
				<div class="row" th:each = "cartItem : ${cartItemList}">
					<hr/>
					<div class="col-xs-2">
						<a th:href="@{/bookDetail(id=${cartItem.book.id})}"> <img
							class="img-responsive shelf-book"
							th:src="${cartItem.book.bookImageUrl}"
							style="width: 70px;" />
						</a>
					</div>
					<div class="col-xs-6">
						<div style="margin-left: 50px;">
							<a th:href="@{/bookDetail?id=}+${cartItem.book.id}">
							<h4	th:text="${cartItem.book.title}"></h4></a>
						</div>
					</div>
		
					<div class="col-xs-2">
						<h5 style="color: #db3208; font-size: large;">
							INR&nbsp;<span th:text="${cartItem.book.ourPrice}"
								th:style="${cartItem.book.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>
						</h5>
					</div>
		
					<div class="col-xs-2">
						<h5 style="font-size: large;" th:text="${cartItem.qty}"></h5>
					</div>
			</div>
		</div>
	</div>
</div>
	<!-- /end of container -->



	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<div th:replace="common/header :: body-bottom-scripts" />



</body>
</html>
