<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<body>
<div th:replace="common/header :: navbar" />

<div class="container">

    <div class="col-sm-5">
        <form th:action="@{/referral-registration}" method="post">

            <div class="form-group">
                <h4>User Registration</h4>
            </div>

            <input hidden="hidden" name="token" th:value="${token}" />
            <input hidden="hidden" name="userId" th:value="${userId}" />
            <input hidden="hidden" name="tempwd" th:value="${tempwd}" />

            <div class="form-group">
                <label for="firstName">* First Name </label> <input type="text"
                                                                class="form-control" id="firstName"
                                                                placeholder="First Name" th:name="firstName"
                                                                required="required" />
            </div>

            <div class="form-group">
                <label for="firstName">* Last Name </label> <input type="text"
                                                                    class="form-control" id="lastName"
                                                                    placeholder="Last Name" th:name="lastName"
                                                                    required="required" />
            </div>

            <div class="form-group">
                <label for="contactNo">Contact Number </label> <input type="number"
                                                               class="form-control" id="contactNo"
                                                               placeholder="Contact Number" th:name="contactNo"
                                                               required="required" />
            </div>

            <div class="form-group">
                <label for="firstName">* Email </label> <input type="email"
                                                               class="form-control" id="email"
                                                               placeholder="Email Id" th:name="email"
                                                               th:value="${userEmail}"
                                                               disabled="true"
                                                               required="required" />
            </div>

            <div class="form-group">
                <label for="firstName">* Username </label> <input type="text"
                                                                    class="form-control" id="username"
                                                                    placeholder="Enter a unique username" th:name="username"
                                                                    required="required" />
            </div>

            <div class="form-group">
                <label for="firstName">* Password </label> <input type="password"
                                                               class="form-control" id="password"
                                                               placeholder="password" th:name="password"
                                                               required="required" />
            </div>

            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-success">Sign Up</button>
                    <a class="btn btn-danger" th:href="@{/}">Cancel</a>
                </div>
            </div>

        </form>
    </div>

</div>

<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>